.Loading{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    transition: opacity 0.75s, visibility 0.75s;
}
.Loading-hidden{
    opacity: 0;
    visibility: hidden;
}
.Loading::after{
    content: "";
    width: 75px;
    height: 75px;
    border: 10px solid;
    border-radius: 50%;
    border-top-color: darkgray;
    animation: loading 0.75s ease infinite;
}
@keyframes loading{
    from{
        transform: rotate(0turn);
    }
    to{
        transform: rotate(1turn);
    }
}